# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# env file
.env

# profiling files
**/*.prof

# IDEs and editors
.idea/
.vscode/

# Build output
dns-toolkit

# Logs
logs/

# coverage files
coverage/
# Data directories
data/download/
data/processed/
data/consolidated/
data/consolidated_groups/
data/overlap/
data/top/
